<div class="form-container">
  <h2>{{ isEdit ? 'Edit' : 'Add' }} Hero</h2>
  <div class="form-inputs" [formGroup]="hero">
    <mat-form-field>
      <mat-label>Hero Name</mat-label>
      <input matInput formControlName="name" id="name" placeholder="Hero Name" required />
      @if (hero.get('name')?.touched) {
      <mat-error>{{getErrorMessage()}}</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Hero Origin</mat-label>
      <mat-select formControlName="origin" id="origin" required>
        @for (origin of origins; track origin){
        <mat-option [value]="origin.value">{{origin.viewValue}}</mat-option>
        }
      </mat-select>
      @if (hero.get('origin')?.hasError('required')) { <mat-error>Please select an origin</mat-error>
      }
    </mat-form-field>
  </div>
  <div class="form-actions">
    <button *ngIf="!isEdit" mat-stroked-button color="primary" (click)="addHero()" [disabled]="!isFormValid()">
      Add Hero
    </button>
    <button *ngIf="isEdit" mat-stroked-button color="primary" (click)="updateHero()" [disabled]="!isFormValid()">
      Update Hero
    </button>
    <button mat-stroked-button color="primary" (click)="goHome()">Go Home</button>
  </div>
</div>
